.skl {
    width: 100%;
    height: 100%;
    animation-name: skeleton;
    animation-duration: .3s;
    animation-timing-function: ease-out;
    border-radius: 5px;
    background-color: #dadada;
}
@keyframes skeleton {
    0% {
        opacity: 1;
    };
    50% {
        opacity: .1;
    };
    100% {
        opacity: 1;
    }
}